<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise Tracker</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="form-wrapper">
        <h1 class="title">Exercise Tracker</h1>
        <form action="/api/exercise/new-user" method="post">
          <h3>Create New User</h3>

          <label for="username"
            >Username<span class="required-mark">*</span></label
          >
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Enter a New Username"
            required="required"
          />

          <input class="submit-button" type="submit" value="Submit" />
        </form>
      </div>

      <hr />

      <div class="form-wrapper">
        <form action="api/exercise/users" method="get">
          <h3>Check User List</h3>
          <input class="submit-button" type="submit" value="Submit" />
        </form>
      </div>

      <hr />

      <div class="form-wrapper">
        <form action="/api/exercise/add" method="post">
          <h3>Add New Exercise</h3>

          <label for="userId"
            >User Id<span class="required-mark">*</span></label
          >
          <input
            type="text"
            name="userId"
            id="userId"
            placeholder="Enter a User Id"
            required="required"
          />

          <label for="description"
            >Description<span class="required-mark">*</span></label
          >
          <input
            type="text"
            name="description"
            id="description"
            placeholder="Enter a Exercise Description"
            required="required"
          />

          <label for="duration"
            >Duration (min)<span class="required-mark">*</span></label
          >
          <input
            type="number"
            name="duration"
            id="duration"
            min="0"
            placeholder="Enter a Exercise Duration"
            required="required"
          />

          <label for="date">Date</label>
          <input type="date" name="date" id="date" placeholder="Enter a Date" />

          <input class="submit-button" type="submit" value="Submit" />
        </form>
      </div>

      <hr />

      <div class="form-wrapper">
        <form action="/api/exercise/log" method="get">
          <h3>Check Exercise Log</h3>

          <label for="userId"
            >User Id<span class="required-mark">*</span></label
          >
          <input
            type="text"
            name="userId"
            id="userId"
            placeholder="Enter a User Id"
            required="required"
          />

          <div class="splitter-wrapper">
            <div class="row-wrapper">
              <label for="fromDate">From</label>
              <input
                type="date"
                name="from"
                id="fromDate"
                placeholder="Enter a Date"
              />
            </div>
            <div class="row-wrapper">
              <label for="toDate">To</label>
              <input
                type="date"
                name="to"
                id="toDate"
                placeholder="Enter a Date"
              />
            </div>
          </div>

          <label for="limit">Limit</label>
          <input
            type="number"
            name="limit"
            id="limit"
            min="1"
            placeholder="Enter a Entry Limit"
          />

          <input class="submit-button" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </body>
</html>
