<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise Tracker</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <form action="/api/exercise/new-user" method="post">
        <h3>Create new user</h3>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
        />
        <input type="submit" value="Submit" />
      </form>
      <form action="/api/exercise/add" method="post">
        <h3>Add exercises</h3>
        <input type="text" name="userId" id="userId" placeholder="userId" />
        <input
          type="text"
          name="description"
          id="description"
          placeholder="description"
        />
        <input
          type="text"
          name="duration"
          id="duration"
          placeholder="duration"
        />
        <input type="text" name="date" id="date" placeholder="date" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
